.chat-row {
    margin-bottom: 10px;
}

.message {
    font-size: 16px;
    line-height: 3.2rem;
}

.notification {
    font-size: 12px;
    text-align: center;
    line-height: 2rem;
    font-style: italic;
}

.message.right>div:nth-child(1) {
    text-align: right;
    font-size: 14px;
}

.message.left>div:nth-child(1) {
    font-size: 14px;
}

.message.right>div:nth-child(2) {
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    padding: 5px 15px;
}

.message.left>div:nth-child(2) {
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    padding: 5px 15px;
    background: #F0F0F0;
}